{% extends '_base_vue.html' %}
{% load crispy_forms_tags %}

{% block title %}Verify Your Email Address{% endblock %}

{% block main %}
<div class="card border-0 rounded shadow-lg m-auto mb-3" style="max-width: 30rem">
  <div class="card-header text-center bg-info text-white">Verify Your Email Address</div>
  <div class="card-body">
    <p class="card-text">We have sent an email to you for verification.
      Follow the link provided to finalize the registration process.</p>
  </div>
</div>
{% endblock %}