<footer class="fixed-bottom bg-dark py-2">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="text-light">
                &copy; 2025 Play2Learn. All rights reserved.
            </div>
            
            <nav>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'contacts:app' %}">Contact</a>
                    </li>
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/admin/">Admin</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</footer>
