{% extends "_base.html" %}

{% block title %}Review{% endblock %}
{% block main %}
  <div class="card border-secondary m-auto mb-3 text-center shadow-sm"
    style="max-width: 30rem">
    <div class="card-header">Review</div>
    <div class="card-body">
        <h5 class="card-title">{{ review.comment }}</h5>
    </div>
    <div class="card-footer">
      <div>
        {% if review.tag %}
          <span class="badge rounded-pill bg-secondary">{{ review.tag }}</span>
        {% endif %}
      </div>
      {% if joke.user == user %}
        <div class="border-bottom border-faded m-2 pb-3">
          <a href="{% url 'reviews:update' review.slug %}"
            class="btn btn-info btn-sm me-2">Update</a>
          <a href="{% url 'reviews:delete' review.slug %}"
            class="btn btn-danger btn-sm me-2">Delete</a>
        </div>
      {% endif %}
      <small class="text-muted">
        Created on: {{ review.created }} by {{ review.user.username }}<br>
        Last updated: {{ review.updated }}
      </small>
    </div>
  </div>
{% endblock %}