{% extends '_base.html' %}

{% block title %}Leaderboard for {{ game_type }}{% endblock %}

{% block main %}
<h1>{{ game_type }} Leaderboard</h1>
<table class="table">
    <thead>
        <tr>
            <th>User</th>
            <th>Score</th>
            <th>Time Played</th>
            <th>Settings</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for score in leaderboard_scores %}
            <tr>
                <td>{{ score.user.username }}</td>
                <td>{{ score.score }}</td>
                <td>{{ score.time_played }}</td>
                <td>{{ score.game_settings }}</td>
                <td>{{ score.created_at }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
